.select_vacancy_wrapper{
    align-items: center;
}
.select_vacancy_title{
    text-align: center;
}

.itemList{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

}
.itemList >*{
    width: 100%;
}
