.mainCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    border-color: red;   
}
.caption{
    display: flex;
    justify-content: center;
}
.nameMan{
    font-size: 24px;
}
.button{
    display: flex;
    justify-content: space-between;
}
.direction{
    display: flex;
    justify-content: space-between;
}