.card {
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  /* padding: 5px !important; */
}

.card:hover {
  transform: translateY(-8px);
  transition: all 0.3s linear;
  border-width: 4px !important;
  /* padding: 2px !important; */
}
